@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.dashboard {
    display: grid;
    grid-template-columns: 16.5% auto;
    height: 100vh;
}

.sidebar {
    padding: 2rem 0;
    background: #313163;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar .logo {
    width: 100%;
    height: 15%;
    display: grid;
    place-content: center;
}

.sidebar hr {
    width: 90%;
    background-color: #dfdfdf;
}

.sidebar ul {
    list-style: none;
    display: grid;
    margin-top: 2rem;
    width: 100%;
}

.sidebar ul li {
    display: flex;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
    line-height: 180%;
    padding: .5rem 1.2rem;
    transition: all ease-in-out .25s;
}

.sidebar ul li:hover {
    background-color: #A69BE7;
}

.sidebar ul li img {
    width: 14px;
    height: 14px;
}

.sidebar ul li span {
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.body {
    background: #E5E5E5;
}

.body .topbar {
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fff;
    box-shadow: 2px 8px 20px rgba(181, 181, 181, 0.2);
}

.body .topbar>div {
    display: flex;
    gap: 1rem;
}

.body .topbar>div>button {
    background-color: transparent;
    border: none;
}

.body .topbar div>button img {
    width: 13px;
    height: 13px;
}

.body .topbar div .user {
    display: flex;
    align-items: center;
    padding: .5rem;
    gap: .45rem;
}

.body .topbar div .user img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.body .topbar div .user h4 {
    font-size: 15px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #313163;
    cursor: pointer;
}

.body .topbar>div .user small {
    cursor: pointer;
    color: #4C5059;
    font-family: 'Poppins', sans-serif;
}

@media screen and (min-width: 1367px) {
    .dashboard {
        grid-template-columns: 17.5% auto;
    }

    .body .topbar {
        height: 7.5vh;
    }
}

@media screen and (max-width: 880px) {
    .sidebar ul li img {
        display: none;
    }
}