@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.dashboard {
    display: grid;
    grid-template-columns: 16.5% auto;
    height: 100vh;
}

.sidebar {
    padding: 2rem 0;
    background: #313163;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar .logo {
    width: 100%;
    height: 15%;
    display: grid;
    place-content: center;
}

.sidebar>.open {
    display: none;
}

.sidebar hr {
    width: 90%;
    background-color: #dfdfdf;
}

.sidebar .ul {
    display: grid;
    margin-top: 2rem;
    width: 100%;
}

.sidebar .ul button {
    display: flex;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
    line-height: 180%;
    padding: .5rem 1.2rem;
    transition: all ease-in-out .25s;
    background-color: transparent;
    border: none;
}

.sidebar .ul button:focus,
.sidebar .ul button:hover {
    background-color: #A69BE7;
}

.sidebar .ul button img {
    width: 15px;
    height: 15px;
}

.sidebar .ul button span {
    color: #fff;
    text-align: left;
    font-family: 'Poppins', sans-serif;
}

.body {
    background: #E5E5E5;
}

.body .topbar {
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1.2rem 2rem;
    background-color: #fff;
    box-shadow: 2px 8px 20px rgba(181, 181, 181, 0.2);
}

.body .topbar>div {
    display: flex;
    gap: 1rem;
}

.body .topbar>div>button {
    background-color: transparent;
    border: none;
}

.body .topbar div>button img {
    width: 13px;
    height: 13px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.body .topbar div .user {
    display: flex;
    align-items: center;
    padding: .5rem;
    gap: .45rem;
}

.body .topbar div .user img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.body .topbar div .user h4 {
    font-size: 15px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #313163;
    cursor: pointer;
}

.body .topbar>div .user small {
    cursor: pointer;
    margin-left: .3rem;
    color: #4C5059;
    font-family: 'Poppins', sans-serif;
}

@media screen and (min-width: 1367px) {
    .dashboard {
        grid-template-columns: 17.5% auto;
    }

    .body .topbar {
        height: 7.5vh;
    }
}

@media screen and (max-width: 880px) {
    .sidebar .ul button img {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .dashboard {
        grid-template-columns: 1fr;
        position: relative;
    }

    .sidebar {
        position: relative;
        position: absolute;
        z-index: 4;
        height: 100vh;
        width: 50%;
    }

    .sidebar>.open {
        display: block;
        position: absolute;
        right: 0;
        top: 40%;
        transform: rotate(180deg);
        padding: .5rem;
        background-color: #08754bb0;
    }

    .sidebar .logo img {
        width: 2.5rem;
        height: 3rem;
    }

    .sidebar hr {
        width: 80%;
    }

    .sidebar .ul button img {
        display: block;
    }

    .body .topbar {
        padding: 1rem;
    }

    .body .topbar div .user img {
        width: 25px;
        height: 25px;
    }

    .body .topbar div .user {
        gap: .5rem;
    }

    .body .topbar>div {
        gap: 2rem
    }

    .body .topbar div .user div {
        display: grid;
        gap: none;
    }

    .body .topbar div .user h4 {
        font-size: 12px;
    }

    .body .topbar div .user small {
        font-size: 10px;
    }
}