.book {}

.book_body .date {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem 1rem;
}

.book .top {
    border-bottom: 1px solid #ccc;
    padding: 1.45rem 0;
}

.book .top {
    font-size: 15px;
}

.book_body .react-calendar {
    line-height: 1rem;
}

.react-calendar__tile,
.react-calendar__tile--now,
.react-calendar__year-view__months__month {
    padding: .85rem !important;
    font-size: .85rem;
}

.book_body .date .button {
    height: max-content;
    width: max-content;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    background: #313163;
    border-radius: 15px;
    color: #fff;
}

.book_body .date .button:active {
    transform: scale(.98);
}