.book {
    font-family: Arial, Helvetica, sans-serif;
}

.book_body {
    display: grid;
    gap: 3rem
}

.book_body .sub {
    display: flex;
    padding: 1.5rem 1rem;
    gap: 1rem;
    align-items: top;
}

.h3-info {
    font-weight: 400;
    margin-right: 2rem;
}

.book .top {
    border-bottom: 1px solid #ccc;
    padding: 1.45rem 0;
}

.book .top {
    font-size: 15px;
}

.book_body .react-calendar {
    line-height: 1rem;
}

.react-calendar__tile,
.react-calendar__tile--now,
.react-calendar__year-view__months__month {
    padding: .85rem !important;
    font-size: .85rem;
}

.book_body .date .button {
    height: max-content;
    width: max-content;
    padding: .5rem 1.5rem;
    border-radius: 10px;
    background: #313163;
    border-radius: 10px;
    color: #fff;
    position: absolute;
    right: 10%;
}

.book_body .date .button:active {
    transform: scale(.98);
}

.book_body .time h4 {
    font-size: 14px;
}

.book_body .time small {
    font-size: 12px;
    margin-top: -5px;
}

.book_body .time .box {
    background-color: #fff;
    display: grid;
    gap: 1.5rem;
    padding: 1rem 1.5rem;
    border-radius: 5px;
}

.book_body .time .box .options {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}

.book_body .time .box .timeOptions {
    padding: .25rem .65rem;
    border-radius: 4px;
    border: 1px solid #A69BE7;
}