.adetails>.top {
    border-bottom: 1px solid #ccc;
    padding: .12rem;
}

.adetails .bodyy {
    display: grid;
    background-color: #fff;
    padding: 1rem .65rem;
    margin-top: 1rem;
}

.adetails .bodyy .body_tile {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px #ccc solid;
    height: max-content;
    padding: .65rem .5rem;
}

.adetails .bodyy .edit {
    background-color: transparent;
    cursor: pointer;
}

.adetails .bodyy .book {
    background-color: #313163;
    width: max-content;
    margin: 0 auto;
    margin-top: .85rem;
    font-size: 16px;
    color: #fff;
    border-radius: 14px;
    padding: .5rem 2rem;
}

.adetails .bodyy button:active {
    transform: scale(.98);
}

@media screen and (max-width:600px) {
    .adetails {
        overflow-y: hidden;
    }

    .adetails>.top {
        padding: 1.55rem 1.5rem;
    }

    .adetails .bodyy .book {
        margin-top: 1rem;
    }
}