@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.div {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 30% 1fr;
}

.div .top {
    background-image: url(../assets/Group\ 290.png);
    background-position: center;
    background-size: cover;
    display: grid;
    place-content: center;
    padding: 1rem;
}

.div .top img {
    width: 3.3rem;
    margin: 0 auto;
    margin-top: -1.5rem;
}

.div .top h1 {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}

.div .bottom {
    /* border: 1px dashed red; */
    padding: 1.2rem;
}

.div .bottom form,
.bottom form div {
    display: grid;
    gap: 1.2rem;
}

.div .bottom form div input,
.bottom form button,
.authbox button {
    border-radius: 10px;
    border: 1px solid #828282;
    padding: 1.1rem 1rem;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.div .bottom form div input {
    -webkit-transition: .1s;
    transition: .1s;
    outline: none;
}

.div .bottom form div input:focus {
    border: 2px solid rgb(212, 183, 16);
}

.div .bottom form div input::placeholder {
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.bottom form button {
    color: #fff;
    background: #313163;
}

.bottom hr {
    background-color: #000;
    margin: 3rem 0;
}

.authbox {
    width: 100%;
    display: grid;
    gap: 1.4rem;
}

.authbox button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.authbox .google {
    border: 1px solid #313163;
    border-radius: 5px !important;
    background: #fff;
}

.authbox .fb {
    background: #ACDBFF;
    border: unset;
    border-radius: 5px;
}

.bottom h4 {
    color: #4f4f4f;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.fp_div {
    display: grid;
    grid-template-rows: 10vh auto;
}

.fp_div .top {
    background-color: #A69BE7;
    display: flex;
    align-items: center;
    padding: 1.25rem;
}

.fp_div .top button {
    background: transparent;
    border: none;
}

.fp_div .top img {
    width: 10px;
}

.fp_div .top h1 {
    margin: 0 auto;
    font-size: 25px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.fp_div .body form {
    display: grid;
    gap: 3rem;
    padding: 1rem;
}

.fp_div .body form h3 {
    text-align: center;
    text-align: 400;
    color: #333333;
}

.fp_div .body form input {
    border: 1px solid #828282;
    border-radius: 10px;
    padding: .725rem;
    font-size: 15px;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

.fp_div .fp_button {
    background: #313163;
    border-radius: 10px;
    text-align: center;
    font-size: 17.5px;
    color: #fff;
    padding: .75rem;
}

.bottom h4 span {
    text-decoration: underline;
    margin-left: .35rem;
    font-family: 'Roboto', sans-serif;
}

.click {
    cursor: pointer;
}

.click:active {
    transform: scale(.99);
}

.require small {
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: .5rem;
    font-family: 'Roboto', sans-serif;
}

.required {
    height: 14px;
    width: 14px;
}

@media screen and (min-width: 768px) {
    .div {
        background-image: linear-gradient(#a69be79d, #313163), url(../assets/Group\ 290.png);
        background-position: center;
        background-size: cover;
        grid-template-rows: max-content auto;
        place-content: bottom;
        min-height: 90vh;
        padding: 3rem 0;
    }

    .div .top {
        background-image: unset;
    }

    .div .top {
        padding: unset;

    }

    .div .top img {
        margin: 0 auto;
    }

    .div .bottom {
        margin: 0 auto;
        min-width: 450px;
        padding: 2rem;
        background-color: rgb(255, 255, 255);
        height: max-content;
        border-radius: 20px;
    }

    .fp_div .body form {
        max-width: 600px;
        margin: 0 auto;
        font-family: 'Roboto', sans-serif;
    }
}