.div {
    display: grid;
    height: 100vh;
    grid-template-rows: 30% 1fr;
}

.div .top {
    background-image: url(../../assets/Group\ 290.png);
    background-position: center;
    background-size: cover;
    display: grid;
    place-content: center;
    padding: 1rem;
}

.div .top img {
    width: 3.3rem;
    margin: 0 auto;
    margin-top: -1.5rem;
}

.div .top h1 {
    color: #fff;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.div .bottom {
    padding: 1.2rem;
}

.div .bottom form,
.bottom form div {
    display: grid;
    gap: 1.2rem;
}

.div .bottom form div input,
.bottom form button {
    border-radius: 10px;
    border: 1px solid #828282;
    padding: 1.1rem 1rem;
    font-size: 16px;
}

.bottom form button {
    color: #fff;
    background: #313163;
}