@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.home {
    display: grid;
    padding: 1.2rem 1rem;
}

.card {
    padding: .85rem;
    box-shadow: 2px 8px 20px rgba(181, 181, 181, 0.2);
    border-radius: 8px;
}

.top .box1 {
    display: grid;
    gap: 1.5rem;
}

.greet {
    display: grid;
    grid-template-columns: 60% auto;
}

.greet div {
    display: grid;
    gap: 1rem;
    font-family: 'Poppins';
}

.greet h2 {
    font-family: 'Poppins';
    font-weight: 400;
    color: #424242;
    font-size: 1.2rem;
}

.greet h2 span {
    font-weight: 600;
    color: #000;
}

.greet button {
    color: #fff;
    border-radius: 10px;
    padding: .65rem;
    background-color: #313163;
    width: max-content;
}

.vaccineCount>h3 {
    font-family: 'Poppins';
    color: #424242;
    margin-bottom: .5rem;
    font-size: 1.2rem;
}

.vaccineCount .boxes {
    display: grid;
    gap: .5rem;
}

.vaccineCount .boxes h3,
.vaccineCount .boxes h4 {
    color: #fff;
    font-family: 'Poppins';
}

.rBlog {
    display: grid;
    margin-top: 1rem;
    background-color: #fff;
    padding: 1rem 1.2rem;
}

.rBlog>h3 {
    width: 90%;
    border-bottom: 1px solid #ccc;
    padding: .5rem;
}

.rBlog h3 {
    color: #424242;
    font-family: 'Poppins';
    font-size: 1.2rem;
}

.rBlog .reads {
    display: grid;
    grid-template-columns: 33% auto;
    margin-top: 1rem;
    align-items: center;
}

.rBlog .reads small {
    font-family: "Poppins";
    color: #313163;
}

.rBlog img {
    height: 95px;
    width: 95px;
}